.App {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.App > .inner{
  display: grid;
  grid-template-rows: 1fr 5fr;
  justify-self: center;
  align-self: center;
}

.App > .inner.wingrid{
  grid-template-rows: 1fr .5fr 5fr;
}

.App .win{
  justify-self: center;
  font-weight: bold;
  color: #ff0000;
}